@import "tailwindcss";

:root {
  --animation-duration: 300ms;

  --default-border-width: 1px;
  --default-border-radius: 5px;

  --link-color: #007acc;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Georgia", serif;
  color: rgba(0, 0, 0, 0.8);
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", "Avenir Next", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
