a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", "Avenir Next", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: var(--heading-margin-bottom);
}

h1 {
  font-size: var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
}
h3 {
  font-size: var(--h3-font-size);
}
h4 {
  font-size: var(--h4-font-size);
}
h5 {
  font-size: var(--h5-font-size);
}
h6 {
  font-size: var(--h6-font-size);
}
