.post {
  --h1-font-size: 36px;
  --h2-font-size: 1.51572rem;
  --h3-font-size: 1.31951rem;
  --h4-font-size: 1rem;
  --h5-font-size: 0.87055rem;
  --h6-font-size: 0.81225rem;
}

.post img,
.post canvas {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.post img {
  height: auto;
}
.post canvas {
  background: linear-gradient(0deg, rgba(251, 251, 251, 1) 0%, rgba(231, 231, 231, 1) 50%, rgba(243, 243, 243, 1) 100%);
}

.post blockquote > pre {
  line-height: 1.5;
}
.post blockquote br {
  display: none;
}
.post blockquote > p {
  margin: 0;
}
.post blockquote {
  padding: 15px;
  overflow: auto;
  background-color: hsl(43, 13%, 90%);
  margin-bottom: 1.6rem;
  font-family: monospace;
  overflow: auto;
  white-space: nowrap;
}

.post p {
  margin-bottom: 1.6rem;
  line-height: 1.666;
  word-break: break-word;
}

.post .back-link {
  font-size: 18px;

  color: inherit;

  display: flex;
  gap: 5px;
}
.post .back-link svg {
  fill: rgba(0, 0, 0, 0.8);
}

.post-date {
  margin-top: -30px;
  font-size: 0.87055rem;
  line-height: 1.666rem;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 25px;
}

.post h1 {
  font-size: var(--h1-font-size);
}
.post h2 {
  font-size: var(--h2-font-size);
}
.post h3 {
  font-size: var(--h3-font-size);
}
.post h4 {
  font-size: var(--h4-font-size);
}
.post h5 {
  font-size: var(--h5-font-size);
}
.post h6 {
  font-size: var(--h6-font-size);
}
