.post {
  :global(.back-link) {
    color: inherit;

    display: flex;
    & > * + * { 
      margin-left: 5px;
    }
    svg {
      fill: rgba(0, 0, 0, 0.8);
    }
  }

  // force prisma <pre> elements to be position: relative for the copy button 
  pre { 
    position: relative;
  }

  p {
    margin-bottom: 1.6rem;
    line-height: 1.666;
    word-break: break-word;
  }

  img { 
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--heading-margin-bottom);
    margin-bottom: var(--heading-margin-bottom);
  }

  :global(.post-date) { 
    margin-top: calc(-1 * var(--heading-margin-bottom));
    font-size: 0.87055rem;
    line-height: 1.666rem;
    margin-bottom: var(--heading-margin-bottom);
  }

  blockquote {
    padding: 15px;
    overflow: auto;
    background-color: hsl(43, 13%, 90%);
    margin-bottom: 1.6rem;
    font-family: monospace;
    overflow: auto;
    white-space: nowrap;

    & > pre {
      line-height: 1.5;

      br {
        display: none;
      }
    }

    & > p {
      margin: 0;
    }
  }

}