.post {
  :global(.back-link) {
    color: inherit;

    display: flex;
    & > * + * {
      margin-left: 5px;
    }
    svg {
      fill: rgba(0, 0, 0, 0.8);
    }
  }

  // force prisma <pre> elements to be position: relative for the copy button
  pre {
    position: relative;
  }

  sup {
    vertical-align: super;
    font-size: 65%;
  }

  p {
    margin-bottom: 1.6rem;
    line-height: 1.666;
    word-break: break-word;
  }

  img,
  canvas {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  img {
    height: auto;
  }
  canvas {
    background: linear-gradient(0deg, rgba(251, 251, 251, 1) 0%, rgba(231, 231, 231, 1) 50%, rgba(243, 243, 243, 1) 100%);
  }

  :global(.post-date) {
    margin-top: calc(-1 * 10px);
    font-size: 0.87055rem;
    line-height: 1.666rem;
  }

  blockquote {
    padding: 15px;
    overflow: auto;
    background-color: hsl(43, 13%, 90%);
    margin-bottom: 1.6rem;
    font-family: monospace;
    overflow: auto;
    white-space: nowrap;

    & > pre {
      line-height: 1.5;

      br {
        display: none;
      }
    }

    & > p {
      margin: 0;
    }
  }
}
