.post {
  
  margin-top: 42px;

  :global(.back-link) {
    color: inherit;
  }

  p {
    line-height: 1.666;
  }

  img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  :global(.post-date) { 
    margin-top: calc(-1 * var(--heading-margin-bottom));
    font-size: 0.87055rem;
    line-height: 1.666rem;
    margin-bottom: var(--heading-margin-bottom);
  }

}