.title { 
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 10px;
  }

  margin-bottom: 24px;

  :global(.blog-header) {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.6rem;

    :global(.titles) {
      display: flex;
      flex-direction: column;

      & > :not(:first-child) {
        margin-left: 5px;
      }

      & > * {
        margin-bottom: 0;
      }
      
      & > :first-child {
        margin-bottom: 5px;
      }

      & > :last-child {
        display: flex;
        flex-direction: column;
        margin-top: auto;

        & > * {
          margin-bottom: 0;
          font-weight: 600;
        }
      }
    }
  }

  :global(.blog-intro) {
    margin-bottom: 1.6rem;
  }

  img {
    max-width: 125px;
    max-height: 125px;
    border-radius: 50%;
    display: block;
    margin-right: 10px;
  }
}